.logo{
	padding-left:25px;
	padding-top:10px;
	font-family: Helvetica;
	font-size: 15px;
	
}
.tiles{
	border: 2px solid #9799a7;
	border-radius: 8px 8px 8px 8px;
	text-align:center;
	width: 200px;
	height: 100px;
	margin:20px;
	background-color:#FFFFFF;
	display:inline-block;
}
.help{
	text-align:right;
}
.item-name{
	text-align: center;
	text-decoration: underline;
}
h1{ 
	display: inline; 
}
p{ 
	display: inline; 
	font-family: sans-serif;
}
.location{
	float:right;
	padding-right:20px;
	border: 2px solid #9799a7;
	border-radius: 3px 3px 3px 3px;
	box-sizing: padding-box;
	margin:18px;
	width:45px;
	height:19px;
}
.tag{
	float:right;
	padding-right:20px;
	padding-top:10px;
	
}
.picture{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
}

